html {
	font-size:70%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.168rem;
}.instrumentos-en-stock-9MY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx {
  margin: 0rem 19.651rem 0rem 6.8rem;
  width: calc(100% - 26.4512rem);
  height: 11rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .link-logo-charitfixpng-nfQ {
  margin: 3.077rem 1.468rem 0rem 0rem;
  width: 17.8rem;
  top: 6px;
  left: 36px;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-darkpng.png');
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr {
  width: 81.4488rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  top: 68px;
  left: 325px;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE {
  box-sizing: border-box;
  padding: 4.438rem 13.551rem 4.162rem 21.032rem;
  width: 75.1rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .nav-list-item-link-home--6pW {
  margin-right: 0.1449rem;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration-line: underline;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .component-5-Htz {
  margin: 0rem 7rem 0.009rem 0rem;
  width: 8.5rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .component-4-bPt {
  margin-bottom: 0.0091rem;
  width: 13rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .nav-list-item-link-contact-J3Q {
  width: 12.9rem;
  height: 2.4rem;
  position: absolute;
  left: 68.5488rem;
  top: 47px;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 {
  margin: 5rem 0rem 11.538rem 0rem;
  box-sizing: border-box;
  padding: 8.938rem 6.732rem 9.062rem 6.732rem;
  width: 127.1rem;
  background-size: 100% 128.267%;
  background-position: -8.3952rem;
 background-image: url(/assets/section-bg.png);
  background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e {
  margin: 0rem 90.073rem 2.5rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1.495rem 1.4rem 1.568rem;
  width: calc(100% - 90.0733rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1899999976);
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .list-item-link-home-xnA {
  margin: 0rem 1rem 0.277rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez {
  width: 14rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez .symbol-CgW {
  width: 1rem;
  height: 2.4rem;
  position: absolute;
  left: -8px;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez .list-item-link-donation-JDk {
  width: 14rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0.1617rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .donation-list-ZfU {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot {
  margin: 0rem 3.468rem 7.4rem 3.5rem;
  width: calc(100% - 6.9682rem);
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .rectangle-54-FAv {
  width: 133.1rem;
  height: 62.2rem;
  position: absolute;
  left: 0.1rem;
  top: 6.1rem;
  border: solid 0.1rem #808e9b;
  box-sizing: border-box;
  background-color: #ffffff;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .analizador-de-redes-vectoriales-KRg {
  width: 13.6rem;
  height: 4.3rem;
  position: absolute;
  left: 49rem;
  top: 62.302rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .generador-de-seales-PRY {
  width: 8.6rem;
  height: 4.3rem;
  position: absolute;
  left: 49rem;
  top: 51.502rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .osciloscopio-sk2 {
  width: 10.2rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 40.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .voltmetro-aPY {
  width: 8.1rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 30.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .arv-HYr {
  width: 2.5rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 62.302rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .gens-zy4 {
  width: 4.4rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 51.602rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .osc-i8N {
  width: 2.9rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 40.902rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .volti-QWz {
  width: 3.4rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 30.202rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .laps-JMU {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 20.102rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .ubicacin-c7G {
  width: 10.5rem;
  height: 2.9rem;
  position: absolute;
  left: 73rem;
  top: 10rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .fecha {
    width: 10.5rem;
    height: 2.9rem;
    position: absolute;
    left: 113rem;
    top: 10rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .nombre-7Jv {
  width: 8.3rem;
  height: 2.9rem;
  position: absolute;
  left: 50.4318rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .imagen-DMx {
  width: 8.1rem;
  height: 2.9rem;
  position: absolute;
  left: 3.3318rem;
  top: 9.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-8-XNe {
  width: 133.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 15.8rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-9-47g {
  width: 133.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 46.4rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-12-zn2 {
  width: 133.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 57.5rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-10-8tE {
  width: 133.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 36.2rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-11-4mt {
  width: 133.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 25.2rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .t-5000-1-Ct6 {
  width: 10.4rem;
  height: 8.2rem;
  position: absolute;
  left: 1.9318rem;
  top: 16.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .fdcd50956ea8862427916f7ae68aad-1-JRL {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 3.3318rem;
  top: 26rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .b5a9243f67492871c6c3a0ac06ee51c-1-MeW {
  width: 9.7rem;
  height: 8.1rem;
  position: absolute;
  left: 2.2318rem;
  top: 37.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .askersund-door-light-ash-effect0633750pe696043s5-1-s74 {
  width: 11.9rem;
  height: 9.4rem;
  position: absolute;
  left: 1.8318rem;
  top: 58.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .mi-1-Zka {
  width: 12.8rem;
  height: 8.4rem;
  position: absolute;
  left: 0.7318rem;
  top: 47.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .id-gqC {
  width: 2.3rem;
  height: 2.9rem;
  position: absolute;
  left: 34.8318rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .lpiz-soldador-16n {
  width: 11.3rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n3-iG6 {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 76.6682rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n1-RAW {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 76.6682rem;
  top: 30.4617rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .hora-n1 {
    width: 6.7rem;
    height: 2.2rem;
    position: absolute;
    left: 116.6682rem;
    top: 61.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .instrumentos-en-stock-9MY .auto-group-omr8-Zot .hora-n2 {
    width: 6.7rem;
    height: 2.2rem;
    position: absolute;
    left: 116.6682rem;
    top: 30.44rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .instrumentos-en-stock-9MY .auto-group-omr8-Zot .hora-n3 {
    width: 6.7rem;
    height: 2.2rem;
    position: absolute;
    left: 116.6682rem;
    top: 20rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .instrumentos-en-stock-9MY .auto-group-omr8-Zot .hora-n4 {
    width: 6.7rem;
    height: 2.2rem;
    position: absolute;
    left: 116.6682rem;
    top: 41.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .instrumentos-en-stock-9MY .auto-group-omr8-Zot .hora-n5 {
    width: 6.7rem;
    height: 2.2rem;
    position: absolute;
    left: 116.6682rem;
    top: 51.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .bueno {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 97.6682rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .bueno2 {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 97.6682rem;
  top: 51.4617rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .bueno3 {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 97.6682rem;
  top: 30.4617rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .usable {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 97.6682rem;
  top: 41.4617rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .usable2 {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 97.6682rem;
  top: 61.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n2-jBC {
  width: 6.1rem;
  height: 2.2rem;
  position: absolute;
  left: 76.6682rem;
  top: 40.9234rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n2-Rpi {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 76.6682rem;
  top: 51.3851rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n1-8DL {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 76.6682rem;
  top: 61.8468rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .cantidad-SE2 {
  width: 9.7rem;
  height: 2.9rem;
  position: absolute;
  left: 96.8rem;
  top: 10.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk {
  margin: 0rem 47.368rem 12rem 49.2rem;
  width: calc(100% - 96.5682rem);
  height: 5rem;
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
  flex-shrink: 0;
  text-decoration-line: underline;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-pVU {
    text-decoration-line: underline;
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-6Sz {
  text-decoration-line: underline;
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-xVC {
  text-decoration-line: underline;
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-S9U {
    width: 5rem;
    text-decoration-line: underline;
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #03a587;
    border-radius: 2.5rem;
    flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv {
  width: 100%;
  height: 65.3rem;
  position: relative;
  background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .before-6yk {
  width: 89.0023rem;
  height: 65.3rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 43.683% 88.668%;
  background-position: 42.7668rem 3.7rem;
  background-image: url('../assets/before.png');
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E {
  width: 115.5rem;
  height: 49.8rem;
  position: absolute;
  left: 5.7rem;
  top: 7rem;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE {
  margin: 0rem 0rem 5rem 5rem;
  display: flex;
  align-items: center;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE .link-logo-charitfixpng-zBx {
  margin-right: 29.295rem;
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-darkpng.png');
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE .nav-list-item-link-home-5UJ {
  margin: 0rem 5.905rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  text-decoration-line: underline;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE .nav-list-item-link-insumos-y3t{
  margin: 0rem 5.905rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE .nav-list-item-link-instrumentos-hku {
  margin: 0rem 5.905rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-cxoc-sNE .nav-list-item-link-contact-1WN {
  margin-top: 0.2rem;
  margin-left: 30px;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .separator-JVU {
  width: 100%;
  height: 0.2rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem rgba(93, 107, 105, 0.25);
  box-sizing: border-box;
}
.instrumentos-en-stock-9MY.footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL {
  box-sizing: border-box;
  padding: 7rem 0rem 11.55rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-xcul-iZC {
  margin-bottom: 1.95rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-xcul-iZC .heading-4-explore-links-47G {
  margin-right: 13.922rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-xcul-iZC .heading-4-get-support-VCa {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-5uyr-cnz {
  margin-bottom: 0.45rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-5uyr-cnz .list-item-link-about-company-xbx {
  margin-right: 21.322rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-5uyr-cnz .list-item-vSJ {
  margin: 0.05rem 1rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-5uyr-cnz .list-item-link-donationgmailcom-1yY {
  margin-top: 0.3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  text-decoration-line: underline;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .auto-group-dkmg-dk2 {
  margin: 0.05rem 12.222rem 0rem 0rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .auto-group-dkmg-dk2 .list-item-link-latest-projects-m5Y {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .auto-group-dkmg-dk2 .list-item-link-latest-blog-4aS {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .auto-group-nrsq-Nr2 {
  margin: 0rem 15.222rem 0.05rem 0rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .list-item-hmp {
  margin: 0.05rem 1rem 0rem -15rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-tcnr-gpn .list-item-link-88-111-222-333-RSv {
  margin-top: 0.05rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-emjn-Y1k {
  margin-bottom: 0.95rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-emjn-Y1k .list-item-qf4 {
  margin-right: -26rem;
  margin-left: 308px;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .auto-group-jzml-oBL .auto-group-emjn-Y1k .list-item-link-tropical-cyclone-volcano-vwQ {
  margin-left: 309px;
  margin-bottom: 0.25rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  text-decoration-line: underline;
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .auto-group-jzml-oBL .auto-group-ounz-e6i {
  margin-right: 82.178rem;
  width: calc(100% - 82.178rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-Ziv .divcontainer-a8E .separator-PyQ {
  width: 98%;
  height: 1.2rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem rgba(93, 107, 105, 0.25);
  box-sizing: border-box;
}
.instrumentos-en-stock-9MY .footer-Ziv .copyright-2023-inittheme-all-rights-reserved-8g6 {
  width: 36.7rem;
  height: 2.5rem;
  position: absolute;
  left: 5.1141rem;
  top: 53.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .footer-Ziv .list-item-link-ZmQ {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 98.6rem;
  top: 53.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .footer-Ziv .list-item-link-rEi {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 103.8rem;
  top: 53.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .footer-Ziv .list-item-link-Umt {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 109.2rem;
  top: 53.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
} 
.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 10px; /* Ajustado el margen vertical */
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}

/* Dropdown Styles */
.dropdown,
.dropdown2 {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Ajusta el margen entre Insumos e Instrumentos */
}

.dropbtn,
.dropbtn2 {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.dropbtn:hover,
.dropbtn2:hover {
  color: #3DA35D;
}

.dropbtn:hover::before,
.dropbtn:hover::after,
.dropbtn2:hover::before,
.dropbtn2:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}

.dropdown-content,
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-content a,
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown-content,
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown3,
.dropdown4 {
  position: relative;
  display: inline-block;
}

.dropbtn3,
.dropbtn4 {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.dropbtn3:hover,
.dropbtn4:hover {
  color: #3DA35D;
}

.dropbtn3:hover::before,
.dropbtn3:hover::after,
.dropbtn4:hover::before,
.dropbtn4:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}

.dropdown-content3,
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-content3 a,
.dropdown-content4 a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover,
.dropdown-content4 a:hover {
  background-color: #f1f1f1;
}

.dropdown3:hover .dropdown-content3,
.dropdown4:hover .dropdown-content4 {
  display: block;
}