
html {
	font-size:66%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.5rem;
}.lista-de-pedidos-4cL {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi {
  box-sizing: border-box;
  padding: 4.599999999999994rem 0rem 18.7rem 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 {
  margin: 0rem 0rem 7.3rem 3.1rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 .link-logo-charitfixpng-1hv {
  margin-right: 26.1318rem;
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-darkpng.png');
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 .nav-list-item-link-home--fnU {
  margin-bottom: 0.7234rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 .auto-group-a5kz-iEx {
  box-sizing: border-box;
  padding: 0.438rem 0rem 0.438rem 0.145rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 .auto-group-a5kz-iEx .nav-list-item-link-pYt {
  margin: 0.6rem 5.272rem 1.323rem 0rem;
  width: 1.6rem;
  height: calc(100% - 1.9234rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-adit-iD2 .auto-group-a5kz-iEx .nav-list-item-link-contact-KPA {
  margin-bottom: 1.1234rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 31.4rem;
  position: relative;
  background-size: 100% 128.267%;
  background-position: 0 -8.8758rem;
  background-image: url('../assets/section-bg.png');
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .section-paints-LZA {
  width: 126.8rem;
  height: 31.4rem;
  position: absolute;
  left: -4px;
  top: 0;
  background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .donation-list-pUL {
  width: 23rem;
  height: 4rem;
  position: absolute;
  left: 7.7rem;
  top: 19.3rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .breadcrumb-J8c {
  box-sizing: border-box;
  padding: 1.4rem 6.2rem 1.3rem 1.568rem;
  width: 23.6rem;
  height: 5.1rem;
  position: absolute;
  left: 7.7rem;
  top: 11.3rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1899999976);
  border-radius: 1rem;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .breadcrumb-J8c .list-item-link-home-abv {
  margin: 0rem 1.765rem 0.277rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .breadcrumb-J8c .auto-group-kemj-5Hn {
  width: 8.567rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .breadcrumb-J8c .auto-group-kemj-5Hn .symbol-pmA {
  width: 1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .breadcrumb-J8c .auto-group-kemj-5Hn .list-item-link-donation-s7A {
  width: 7.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0.767rem;
  top: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .auto-group-ww7j-oZE .auto-group-ww7j-oZE-bg {
  width: 127.1rem;
  height: 31.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  border-top: solid 0.1rem #000000;
  box-sizing: border-box;
  border: solid 0.1rem #000000;
  background-color: #f9fafb;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr {
  width: 37.7rem;
  height: 13.7rem;
  position: absolute;
  left: 3.1rem;
  top: 5.9rem;
  display: flex;
  align-items: center;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr .b5a9243f67492871c6c3a0ac06ee51c-1-1-6PE {
  margin-right: 5.75rem;
  width: 15rem;
  height: 13.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr .auto-group-88jw-a3W {
  margin: 1.3rem 0rem 1.1rem 0rem;
  width: 16.95rem;
  height: calc(100% - 2.4rem);
  row-gap: 3.25rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr .auto-group-88jw-a3W .nombre-fusible-soJ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr .auto-group-88jw-a3W .id-fus-bjJ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .auto-group-sohe-mbr .auto-group-88jw-a3W .cantidad-en-stock-15-vma {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .ubicacion-paol-de-avionica-TFi {
  width: 22.4rem;
  height: 1.6rem;
  position: absolute;
  left: 3.1rem;
  top: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .proximo-ingreso-del-producto-31-2-2024-7LG {
  width: 32.5rem;
  height: 1.6rem;
  position: absolute;
  left: 3.2rem;
  top: 30.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .line-2-C6p {
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 35.9rem;
  background-color: #000000;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .los-fusibles-vienen-en-diferentes-tamaos-y-capacidades-de-corriente-para-adaptarse-a-las-necesidades-especficas-de-los-distintos-circuitos-elctricos-son-ampliamente-utilizados-en-una-variedad-de-aplicaciones-desde-los-sistemas-elctricos-de-los-hogares-y-los-automviles-hasta-los-equipos-electrnicos-y-las-instalaciones-industriales-con-el-fin-de-garantizar-la-seguridad-y-prevenir-posibles-daos-causados-por-condiciones-elctricas-anormales-XPz {
  width: 80.1rem;
  height: 12.6rem;
  position: absolute;
  left: 1.1rem;
  top: 63.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt {
  box-sizing: border-box;
  padding-bottom: 28.0952rem;
  width: 42.8rem;
  height: 80.9rem;
  position: absolute;
  left: 85.4rem;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.25);
  background-color: #18181b;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .card-header-7Fi {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 7.2rem;
  border: solid 0.1rem #3f3f46;
  box-sizing: border-box;
  background-color: #18181b;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz {
  margin: 0rem 3.2rem 0rem 3rem;
  width: calc(100% - 6.2rem);
  row-gap: 4.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  height: 10.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .product-image-HZW {
  margin-right: 2.4rem;
  width: 10.4rem;
  height: 10.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .main-aoW {
  height: 10.6122rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .main-aoW .monitor-gamer-curvo-49-dqhd-240hz-1ms-hdmi-e-displayport-hdr-1000-freesync-premium-ajuste-de-altura-lc49g95tsslxzd-w8G {
  margin-bottom: 5.1758rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e4e4e7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .main-aoW .bottom-content-188 {
  width: 9.7rem;
  height: 3.0364rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .main-aoW .bottom-content-188 .stepper-A12 {
  margin: 0rem 5.683rem 0.212rem 0rem;
  width: 4.0169rem;
  height: 2.8242rem;
  overflow: hidden;
  position: relative;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-xGL .main-aoW .bottom-content-188 .stepper-A12 .auto-group-meut-UnQ {
  width: 100%;
  height: 4.0242rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #f3f4f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN {
  margin-right: 0.2rem;
  box-sizing: border-box;
  padding-right: 2.5rem;
  width: calc(100% - 0.2rem);
  height: 10.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .product-image-GTN {
  margin-right: 2.4rem;
  width: 10.4rem;
  height: 10.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .main-bEk {
  height: 10.6122rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .main-bEk .monitor-gamer-curvo-49-dqhd-240hz-1ms-hdmi-e-displayport-hdr-1000-freesync-premium-ajuste-de-altura-lc49g95tsslxzd-Yvg {
  margin-bottom: 2.7758rem;
  max-width: 21.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e4e4e7;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .main-bEk .bottom-content-RUg {
  width: 8.2rem;
  height: 3.0364rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .main-bEk .bottom-content-RUg .stepper-Nep {
  margin: 0rem 4.183rem 0.212rem 0rem;
  width: 4.0169rem;
  height: 2.8242rem;
  overflow: hidden;
  position: relative;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .product-card-YXN .main-bEk .bottom-content-RUg .stepper-Nep .auto-group-vuip-uPr {
  width: 100%;
  height: 4.0242rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #f3f4f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr {
  width: 36.4rem;
  height: 10.4048rem;
  position: relative;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr .product-card-MWk {
  width: 36.4rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  border-radius: 0.4rem;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr .product-card-MWk .product-image-tFn {
  margin-right: 2.4rem;
  width: 10.4rem;
  height: 10.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr .product-card-MWk .main-cha {
  width: 32.4rem;
  height: 7.6rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr .product-card-MWk .main-cha .monitor-gamer-curvo-49-dqhd-240hz-1ms-hdmi-e-displayport-hdr-1000-freesync-premium-ajuste-de-altura-lc49g95tsslxzd-Ngk {
  max-width: 23.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e4e4e7;
  font-family: Inter, 'Source Sans Pro';
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .carrinho-zgt .products-scroll-SHz .auto-group-6hvv-Cdr .item-1-3nt {
  width: 0.8rem;
  height: 1.6rem;
  position: absolute;
  left: 14.4048rem;
  top: 8.8048rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #f3f4f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .auto-group-qjor-gdi .lista-de-compra-S3n .descripcion-un-fusible-es-un-dispositivo-elctrico-diseado-para-proteger-un-circuito-elctrico-de-sobrecargas-de-corriente-consiste-en-un-conductor-metlico-que-se-coloca-en-serie-con-el-circuito-que-se-desea-proteger-el-fusible-est-diseado-para-fundirse-o-romperse-cuando-la-corriente-que-pasa-a-travs-de-l-excede-un-cierto-nivel-predeterminado-cuando-la-corriente-que-fluye-a-travs-del-circuito-es-normal-el-fusible-permanece-intacto-y-permite-que-la-electricidad-circule-sin-problemas-sin-embargo-cuando-la-corriente-supera-el-lmite-seguro-el-conductor-dentro-del-fusible-se-calienta-rpidamente-debido-a-la-resistencia-elctrica-y-finalmente-se-funde-o-se-rompe-interrumpiendo-as-el-flujo-de-corriente-y-protegiendo-el-circuito-elctrico-de-daos-mayores-como-cortocircuitos-o-sobrecargas-GQk {
  width: 78rem;
  height: 23.1rem;
  position: absolute;
  left: 3.3rem;
  top: 39rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lista-de-pedidos-4cL .footer-VCx {
  width: 100%;
  height: 65.5rem;
  position: relative;
  background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .before-dKA {
  width: 92.9515rem;
  height: 65.3rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 43.683% 88.668%;
  background-position: 44.6645rem 3.7rem;
  background-image: url('../assets/before.png');
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU {
  width: 112.6rem;
  height: 47.7rem;
  position: absolute;
  left: 11.7rem;
  top: 7.7rem;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU {
  width: 100%;
  height: 47.6rem;
  position: relative;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-8fet-AyJ {
  width: 35.6rem;
  height: 3.6rem;
  position: absolute;
  left: 9.3rem;
  top: 14.5rem;
  display: flex;
  align-items: center;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-8fet-AyJ .heading-4-explore-links-W1a {
  margin: 0.6rem 10.3rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-8fet-AyJ .heading-4-get-support-Pr4 {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-ebde-WQt {
  width: 40.9rem;
  height: 3.25rem;
  position: absolute;
  left: 9.3rem;
  top: 20.05rem;
  display: flex;
  align-items: flex-start;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-ebde-WQt .list-item-link-about-company-dEc {
  margin-right: 16rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-ebde-WQt .list-item-wFJ {
  margin: 0.25rem 1.7rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-ebde-WQt .list-item-link-donationgmailcom-rdA {
  margin-top: 0.25rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  text-decoration-line: underline;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-gvup-Adr {
  width: 35.1rem;
  height: 3.5rem;
  position: absolute;
  left: 9.3rem;
  top: 26.1rem;
  display: flex;
  align-items: center;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-gvup-Adr .list-item-link-latest-blog-Vw2 {
  margin: 1rem 6.9rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-gvup-Adr .list-item-Qo6 {
  margin: 0rem 1.7rem 0.5rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-gvup-Adr .list-item-link-88-111-222-333-Xsi {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp {
  width: 48.7rem;
  height: 6rem;
  position: absolute;
  left: 9.3rem;
  top: 30.55rem;
  display: flex;
  align-items: center;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp .auto-group-m9zn-P9E {
  margin-right: 9.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp .auto-group-m9zn-P9E .list-item-link-our-testimonials-vur {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp .auto-group-m9zn-P9E .list-item-link-our-mission-SNQ {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp .list-item-xrY {
  margin: 0rem 1.7rem 0.3rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-6p1j-FYp .list-item-link-tropical-cyclone-volcano-5AU {
  margin-bottom: 0.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-mxlu-Ahi {
  width: 57.605rem;
  height: 2.4rem;
  position: absolute;
  left: 44.895rem;
  top: 0;
  display: flex;
  align-items: center;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-mxlu-Ahi .nav-list-item-link-home-6bN {
  margin: 0rem 5.905rem 0.4rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .auto-group-mxlu-Ahi .nav-list-item-link-contact-imA {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lista-de-pedidos-4cL .footer-VCx .divcontainer-unU .auto-group-qdde-diU .list-item-link-latest-projects-bpx {
  width: 13rem;
  height: 2.5rem;
  position: absolute;
  left: 9.3rem;
  top: 23.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .footer-VCx .link-logo-charitfixpng-RJC {
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  left: 14.6rem;
  top: -58.80000000000001rem;
  background-size: 100% 100%;
  background-image: url('../assets/link-darkpng.png');
}
.lista-de-pedidos-4cL .footer-VCx .copyright-2023-inittheme-all-rights-reserved-7B2 {
  width: 36.7rem;
  height: 2.5rem;
  position: absolute;
  left: 19.9141rem;
  top: 58.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.lista-de-pedidos-4cL .footer-VCx .list-item-link-yU8 {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 104.7rem;
  top: 58.9rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.lista-de-pedidos-4cL .footer-VCx .list-item-link-gNY {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 111.5rem;
  top: 58.9rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.lista-de-pedidos-4cL .footer-VCx .list-item-link-QJY {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 118.3rem;
  top: 58.9rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 10px; /* Ajustado el margen vertical */
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}

/* Dropdown Styles */
.dropdown,
.dropdown2 {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Ajusta el margen entre Insumos e Instrumentos */
}

.dropbtn,
.dropbtn2 {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.dropbtn:hover,
.dropbtn2:hover {
  color: #3DA35D;
}

.dropbtn:hover::before,
.dropbtn:hover::after,
.dropbtn2:hover::before,
.dropbtn2:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}

.dropdown-content,
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-content a,
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown-content,
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown3,
.dropdown4 {
  position: relative;
  display: inline-block;
}

.dropbtn3,
.dropbtn4 {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.dropbtn3:hover,
.dropbtn4:hover {
  color: #3DA35D;
}

.dropbtn3:hover::before,
.dropbtn3:hover::after,
.dropbtn4:hover::before,
.dropbtn4:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}

.dropdown-content3,
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-content3 a,
.dropdown-content4 a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover,
.dropdown-content4 a:hover {
  background-color: #f1f1f1;
}

.dropdown3:hover .dropdown-content3,
.dropdown4:hover .dropdown-content4 {
  display: block;
}
.nav-list-item-link-contact-1WN {
  padding: .5em .8em;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav-list-item-link-contact-1WN:hover {
  color: #3DA35D;
}

.nav-list-item-link-contact-1WN:hover:before,
.nav-list-item-link-contact-1WN:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}